@use "/utils/variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

.SubNav {
  background-color: #c595f1;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  color: white;
  .group {
    display: flex;
    justify-content: space-between;
    list-style: none;

    @media screen and (min-width: 992px) {
      font-size: larger;
      padding: 0px 80px;
    }
    @media screen and (min-width: 1025px) {
      font-size: larger;
      padding: 0px 70px;
    }
    li {
      padding: 5px;
      cursor: pointer;
      font-size: small;
      @media screen and (min-width: 576px) {
        font-size: larger;
      }
    }
    li:hover {
      background-color: #b575f1;
      transition: all 0.5s ease;
      border-radius: 20px;
    }
  }
}
