@use "/utils/variables" as var;

.CategoriesHidden {
  position: absolute;
  z-index: 20;
  left: -155px;
  transition: all ease 1s;
  font-size: larger;
  user-select: none;
  .List {
    list-style: none;
    background-color: var.$purpleLight;
    padding-left: 30px;
    padding-right: 5px;
    border-top: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    .Group {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        margin: 0px 0px 5px 0px;
      }
      li:hover {
        background-color: var.$purple;
      }
      .Close {
        color: black;
        align-self: flex-end;
      }
      .Close:hover {
        background: none;
      }
    }
  }
}

.Categories {
  position: absolute;
  z-index: 20;
  left: 0px;
  transition: all ease 1s;
  font-size: larger;
  user-select: none;
  .List {
    list-style: none;
    background-color: var.$purpleLight;
    padding-left: 30px;
    padding-right: 5px;
    border-top: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    .Group {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        margin: 0px 0px 5px 0px;
        cursor: pointer;
      }
      li:hover {
        background-color: var.$purple;
      }
      .Close {
        color: black;
        align-self: flex-end;
      }
      .Close:hover {
        background: none;
      }
    }
  }
}
